@media (min-width: 0em) {
  #landing {
    width: 100vw;
    height: 35em;
    overflow: hidden;
    position: relative;
    background-color: black;
  }
  #landing::before {
    content: '';
    background-color: var(--main-primary-color);
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    position: absolute;
    top: -15%;
    left: -15%;
    -webkit-filter: blur(6em);
            filter: blur(6em);
    opacity: 70%;
  }
  #landing::after {
    content: '';
    background-color: white;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    position: absolute;
    bottom: -10%;
    right: -20%;
    -webkit-filter: blur(6em);
            filter: blur(6em);
    opacity: 70%;
  }
  #landing .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 90%;
    -webkit-backdrop-filter: blur(20px);
            backdrop-filter: blur(20px);
    background-color: rgba(245, 245, 245, 0.1);
    z-index: -1;
  }
  #landing .container {
    width: 100vw;
    max-width: 55em;
    margin: auto;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 8em;
  }
  #landing .container .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    color: white;
    padding: 0 1em;
    position: relative;
    text-align: center;
  }
  #landing .container .content h1 {
    font-size: 1.5em;
    margin-bottom: .5em;
  }
  #landing .container .content p {
    margin-bottom: 1em;
    line-height: 1.8;
    color: #e2e2e2;
  }
  #landing .container .content .ctas {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    place-items: center;
    gap: 1em;
    width: 100%;
  }
  #landing .container .content .ctas a {
    width: 100%;
    text-decoration: none;
    cursor: pointer;
    background-color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 1em .5em;
    margin-bottom: 1em;
    color: black;
    border-radius: 2em;
    max-width: 250px;
  }
  #landing .container .content .ctas a:nth-child(2) {
    background-color: transparent;
    border-bottom: 2px solid var(--main-primary-color);
    color: white;
    border-radius: 0;
  }
  .graphic-over {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 1em;
    margin-top: -6em;
  }
  .graphic-over img {
    width: 100%;
    height: 100%;
    z-index: 2;
  }
}

@media (min-width: 768px) {
  #landing::before {
    content: '';
    background-color: var(--main-primary-color);
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    position: absolute;
    top: -15%;
    left: -15%;
    -webkit-filter: blur(6em);
            filter: blur(6em);
    opacity: 70%;
  }
  #landing::after {
    content: '';
    background-color: white;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    position: absolute;
    bottom: -10%;
    right: -20%;
    -webkit-filter: blur(6em);
            filter: blur(6em);
    opacity: 70%;
  }
  #landing .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 90%;
    -webkit-backdrop-filter: blur(20px);
            backdrop-filter: blur(20px);
    background-color: rgba(245, 245, 245, 0.1);
  }
  #landing .container {
    padding-top: 10em;
  }
  #landing .container .content {
    width: 80%;
    margin: 0 auto;
    max-width: 650px;
  }
  #landing .container .content h1 {
    font-size: 2.2em;
    margin-bottom: .5em;
  }
  #landing .container .content .ctas {
    gap: 0;
  }
  #landing .container .content .ctas a {
    max-width: 225px;
  }
  .graphic-over img {
    max-width: 600px;
  }
}

@media (min-width: 1024px) {
  #landing::before {
    content: '';
    background-color: var(--main-primary-color);
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    position: absolute;
    top: -15%;
    left: -15%;
    -webkit-filter: blur(6em);
            filter: blur(6em);
    opacity: 70%;
  }
  #landing::after {
    content: '';
    background-color: white;
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    position: absolute;
    bottom: -10%;
    right: -20%;
    -webkit-filter: blur(6em);
            filter: blur(6em);
    opacity: 70%;
  }
  #landing .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 90%;
    -webkit-backdrop-filter: blur(20px);
            backdrop-filter: blur(20px);
    background-color: rgba(245, 245, 245, 0.1);
  }
  #landing .container {
    padding-top: 8em;
  }
  #landing .container .content {
    width: 80%;
    margin: 0 auto;
  }
  #landing .container .content h1 {
    font-size: 2.2em;
    margin-bottom: .5em;
  }
  #landing .container .content .ctas {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 1em;
  }
  #landing .container .content .ctas a {
    max-width: 200px;
  }
  .graphic-over {
    margin-top: -9em;
  }
}

@media (min-width: 1200px) {
  #landing::before {
    content: '';
    background-color: var(--main-primary-color);
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    position: absolute;
    top: -5%;
    left: -5%;
    -webkit-filter: blur(8em);
            filter: blur(8em);
    opacity: 70%;
  }
  #landing::after {
    content: '';
    background-color: white;
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    position: absolute;
    bottom: -10%;
    right: -10%;
    -webkit-filter: blur(7em);
            filter: blur(7em);
    opacity: 70%;
  }
}
/*# sourceMappingURL=critical.css.map */