@media (min-width: 0px) {
    #contact {
        padding: var(--padding-xl) var(--padding-md);

        .heading {
            width: 100%;
            max-width: 700px;
            margin: auto;
            margin-bottom: var(--margin-lg);


            h2 {
                position: relative;
                text-transform: uppercase;
                font-size: 2em;
                background: var(--main-custom-gradient);
                background-size: 400% 400%;
                animation: gradient 15s ease infinite;
                -webkit-background-clip: text;
                background-clip: text;
                -webkit-text-fill-color: transparent;
                margin-bottom: var(--margin-sm);
            }

            p {
                line-height: 1.5;
            }
        }

        .container {
            width: 100%;
            max-width: 1200px;
            margin: auto;
            border-radius: 1em;
            display: grid;
            grid-template-columns: 1fr;
            grid-gap: 2em;
            padding: .5em;

            .contact-info {
                width: 100%;
                padding: 0em;
                border-radius: 1.5em;

                embed {
                    width: 100%;
                    height: auto;
                    max-width: 300px;
                    margin-bottom: 2em;
                }

                h3 {
                    font-size: 1.5em;
                    margin-bottom: .1em;
                }

                p {
                    strong {
                        margin-right: .5rem;
                    }

                    a {
                        text-decoration: none;
                        color: black;
                    }

                    margin-bottom: .5rem;
                }
            }

            .form-container {
                form {
                    width: 100%;
                    padding: 1.5em;
                    box-shadow: var(--box-shadow);
                    border-radius: 1em;

                    .form-control {
                        margin-bottom: 1em;

                        p {
                            color: white;
                            margin-bottom: 0.5em;
                        }

                        label {
                            margin-bottom: .3em;
                        }

                        input[type="text"],
                        input[type="email"],
                        input[type="tel"] {
                            width: 100%;
                            padding: 1em;
                            border: 0;
                            color: #222;
                            font-size: 16px;
                            border-bottom: 1px solid #222;
                            background-color: #fafafa;
                            border-radius: 0;

                            &::placeholder {
                                color: #adb5bd;
                            }

                            &:active,
                            &:hover {
                                border-bottom: 1px solid --main-primary-color;
                            }
                        }


                        textarea {
                            resize: none;
                            width: 100%;
                            border: 0;
                            padding: 1em;
                            font-family: inherit;
                            color: inherit;
                            font-size: inherit;
                            font-weight: inherit;
                            border-bottom: 1px solid #222;
                            background-color: #fafafa;
                            border-radius: 0;

                            &::placeholder {
                                color: #adb5bd;
                            }

                            &:active,
                            &:hover {
                                border-bottom: 1px solid --main-primary-color;
                            }
                        }

                        select {
                            width: 100%;
                            padding: 1em;
                            -webkit-appearance: none;
                            background-image: url(/assets/down-chevron.svg);
                            background-position: right 0.75em center;
                            background-repeat: no-repeat;
                            background-size: 10px;
                            font-size: 16px;
                            background-color: white;
                            border: 0;
                            color: #222;
                            border-bottom: 1px solid #222;
                            background-color: #fafafa;
                            border-radius: 0;

                            &:active,
                            &:hover {
                                border-bottom: 1px solid --main-primary-color;
                            }
                        }


                    }



                    button[type="submit"] {
                        background-color: var(--main-primary-color);
                        border-radius: 2em;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding: .9em 3.5em .9em 2em;
                        transition: all 0.5s;
                        cursor: pointer;
                        border: 0;
                        position: relative;
                        color: white;


                        &>div {
                            background-color: #e6f0f6;
                            width: 2.5em;
                            height: 2.5em;
                            border-radius: 50%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            overflow: hidden;
                            transition: all 0.5s;
                            position: absolute;
                            right: .3em;

                            img {
                                width: 1.5em;
                                height: 1.5em;
                                transition: all 0.5s;
                            }
                        }

                        &:hover {
                            transform: translateY(-5px);
                            box-shadow: var(--box-shadow);
                            transition: all 0.5s;

                            &>div {
                                background-color: --main-primary-color;

                                img {}
                            }
                        }
                    }
                }
            }
        }
    }
}

@media(min-width: 768px) {
    #contact {
        .heading {
            text-align: center;
        }

        .container {
            .form-container {
                form {
                    .flex {
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                        grid-gap: 1em;
                    }
                }
            }
        }
    }
}

@media (min-width: 1024px) {
    #contact {

        .heading {

            h2 {}

            p {}
        }

        .container {
            width: 100%;
            border-radius: 1em;
            display: grid;
            grid-template-columns: 60% 40%;
            grid-gap: 2em;
            padding: .5em;

            .contact-info {

                img {}

                p {
                    strong {}

                    a {}

                }
            }

            .form-container {
                form {

                    .form-control {


                        p {}

                        input[type="text"],
                        input[type="email"],
                        input[type="tel"] {


                            &::placeholder {}

                            &:active,
                            &:hover {}
                        }


                        textarea {}

                        select {

                            option {


                                [disabled] {}
                            }

                        }


                    }



                    button[type="submit"] {



                        &>div {

                            img {}
                        }

                        &:hover {


                            &>div {


                                img {}
                            }
                        }
                    }
                }
            }
        }
    }
}