@media (min-width: 0px) {
    #contact {
        padding: $padding-xl $padding-md;

        .container {
            width: 100%;
            max-width: 1000px;
            margin: auto;

            .form-container {
                width: 100%;
                margin-bottom: $margin-lg;

                h2 {
                    width: 100%;
                    position: relative;
                    font-size: $font-size-base * 2;
                    background: $gradient-bg-one;
                    background-size: 400% 400%;
                    animation: gradient 15s ease infinite;
                    -webkit-background-clip: text;
                    background-clip: text;
                    -webkit-text-fill-color: transparent;
                    margin-bottom: $margin-sm;

                }

                p {
                    margin-bottom: $margin-lg;
                    line-height: 1.8;
                }

                form {
                    width: 100%;

                    .form-control {
                        margin-bottom: 1rem; 

                        p {
                            color: white;
                            margin-bottom: 0.5rem;
                        }

                        input {
                            &::placeholder {
                            }
                        }

                        input[type="text"],
                        input[type="email"],
                        input[type="tel"] {
                            width: 100%;
                            padding: 1rem;
                            border-radius: 2rem;
                            border: 0;
                            background-color: white;
                            font-size: 16px;
                            border: 1px solid #222;
                        }

                        select {
                            width: 100%;
                            padding: 1rem;
                            border-radius: 2rem;
                            -webkit-appearance: none;
                            background-image: url(/assets/down-chevron.svg);
                            background-position: right 0.75em center;
                            background-repeat: no-repeat;
                            background-size: 10px;
                            font-size: 16px;
                            background-color: white;
                            border: 0;
                            color: gray;
                            border: 1px solid #222;

                        }

                        textarea {
                            resize: none;
                            width: 100%;
                            border-radius: 2rem;
                            border: 0;
                            padding: 1rem;
                            font-family: inherit;
                            font-size: 16px;
                            background-color: white;
                            border: 1px solid #222;
                        }
                    }

                    button[type="submit"] {
                        background-color: $primary;
                        border-radius: 2em;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding: .9em 3.8em .9em 2em;
                        transition: all 0.5s;
                        cursor: pointer;
                        border: 0;
                        position: relative;
                        box-shadow: $box-shadow;

                        p {
                            margin: 0;
                            color: white;
                            text-transform: uppercase;
                        }

                        &>div {
                            background-color: #e6f0f6;
                            width: 2.8em;
                            height: 2.8em;
                            border-radius: 50%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            overflow: hidden;
                            transition: all 0.5s;
                            position: absolute;
                            right: .3em;

                            img {
                                width: 1.5em;
                                height: 1.5em;
                                transition: all 0.5s;
                            }
                        }

                        &:hover {
                            transform: translateY(-5px);
                            box-shadow: $box-shadow;
                            transition: all 0.5s;

                            &>div {
                                background-color: $primary;

                                img {}
                            }
                        }
                    }
                }
            }

            .contact-info {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: left;
                flex-direction: column;
                padding: 1rem 0;

                p {
                    strong {
                        margin-right: .5rem;
                    }

                    a {
                        text-decoration: none;
                        color: black;
                    }

                    margin-bottom: .5rem;
                }
            }
        }
    }
}

@media (min-width: 1024px) {
    #contact {
        .container {
            display: grid;
            grid-template-columns: 55% 40%;
            gap: 2rem;

            .form-container {
                h2 {}

                form {
                    .form-control {
                        p {}

                        input {
                            &::placeholder {}
                        }

                        input[type="text"] {}

                        input[type="email"] {}

                        input[type="tel"] {}

                        select {}

                        textarea {

                            &::placeholder {}
                        }
                    }

                    .submit {
                        button[type="submit"] {}

                        &>div {
                            img {}
                        }

                        &:hover,
                        &:active {

                            &>div {}
                        }
                    }
                }
            }

            .contact-info {
                justify-content: flex-start;
                margin-top: 4rem;

                p {
                    strong {}

                    a {}
                }
            }
        }
    }
}