/** @format */

@media (min-width: 0em) {
  body.dark--mode #landing {
    .container {
      .swiper-container {
        // background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url(/assets/paidimg01.jpg) 65% 50% / cover !important;
      }
    }
  }

  #landing {
    width: 100vw;
    height: 52em;
    background: url(/assets/tulsastockMobile.webp) center / cover;
    overflow: hidden;
    position: relative;

    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      background-color: $primary;
      width: 100%;
      height: 100%;
      opacity: 90%;
    }

    .container {
      width: 100vw;
      max-width: 55em;
      margin: auto;
      height: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      flex-direction: column;

      .content {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        color: white;
        padding: 0 1em;
        position: relative;

        // text-align: center;
        h1 {
          margin-bottom: 0.5em;
        }

        p {
          margin-bottom: 1em;
          line-height: 1.8;
        }

        .ctas {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          width: 100%;

          a {
            width: 100%;
            text-decoration: none;
            cursor: pointer;
            border-radius: 2em;
            background-color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 1em;
            margin-bottom: 1em;
            color: black;
          }

          a:nth-child(2) {
            background-color: #222;
            color: white;
          }
        }
      }

      .graphic {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          width: 55%;
          height: 100%;
          z-index: 2;
          max-width: 250px;
        }
      }
    }
  }

  #intro {
    width: 100vw;

    .container {
      padding: $padding-xl $padding-md;
      width: 100%;
      max-width: 1200px;
      margin: auto;

      .heading {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        max-width: 700px;
        margin: auto;
        margin-bottom: $margin-lg;

        span {
          color: $gray-700;
          font-size: 1em;
        }

        h2 {
          width: max-content;
          position: relative;
          text-transform: uppercase;
          font-size: 2em;
          background: $gradient-bg-one;
          background-size: 400% 400%;
          animation: gradient 15s ease infinite;
          -webkit-background-clip: text;
          background-clip: text;
          -webkit-text-fill-color: transparent;
          margin-bottom: $margin-sm;
        }

        p {
          line-height: 1.8;
          color: $light-black;
          font-size: 0.9em;
        }
      }

      .service-items {
        width: 100%;
        max-width: 55em;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
        grid-gap: 1em;
        place-items: center;

        .service-item {
          width: 100%;
          padding: $padding-md;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          text-align: center;
          height: 100%;
          min-height: 250px;
          background-color: #f8f8f8;
          border-radius: 0.5em;
          box-shadow: $box-shadow;
          position: relative;

          &>div {
            padding: 1em;
            background-color: #222;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            margin-bottom: 1em;

            img {
              width: 3em;
              height: 3em;
            }
          }

          .tag {
            background-color: $red;
            border-radius: 2em;
            padding: 0.2em 1em;
            color: white;
            position: absolute;
            top: 0.5em;
            right: 0.5em;
            transform: rotate(10deg);
            margin: 0;
          }

          h3 {
            margin-bottom: $margin-sm;
            text-transform: uppercase;
            font-size: 1.2em;
          }

          p {
            color: $gray-700;
            margin-bottom: $margin-md;
            line-height: 1.8;
            font-size: 0.9em;
          }

          a {
            text-decoration: none;
            background-color: $light-black;
            color: white;
            transition: 0.5s;
          }
        }
      }
    }
  }

  body.dark--mode #intro {
    transition: all 200ms ease-in;
    background-color: $dark-background-lg-one;

    span,
    p {
      color: $dark-mode-para-text !important;
    }

    .service-item {
      background-color: $dark-mode-background-sm !important;
      transition: all 200ms ease-in;

      h4 {
        color: white !important;
        transition: all 200ms ease-in;
      }

      a {
        box-shadow: none;

        &:hover {
          background-color: $dark-button-hover-bg;
          transition: all 200ms ease-in;
        }
      }
    }
  }

  body.dark--mode #info {
    background-color: $dark-background-lg-two;

    span,
    p {
      color: $dark-mode-para-text !important;
    }

    a {
      box-shadow: none;

      &:hover {
        background-color: $dark-button-hover-bg;
      }
    }
  }

  #info {
    width: 100%;
    overflow: hidden;
    background-color: $prime-gray;

    .container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: $padding-lg $padding-md;
      width: 100%;
      max-width: 55em;
      margin: auto;

      .line {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: $margin-md;

        span {
          color: $gray-700;
          margin-bottom: $margin-sm;
          font-size: 1em;
        }

        &>div {
          width: 1px;
          height: 40px;
          background-color: $gray-700;
        }
      }

      .main-content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        width: 100%;
        margin-bottom: $margin-md;

        h2 {
          text-align: left;
          text-transform: uppercase;
          font-size: 2em;
          margin-bottom: $margin-md;
          background: $gradient-bg-one;
          background-size: 400% 400%;
          animation: gradient 15s ease infinite;
          -webkit-background-clip: text;
          background-clip: text;
          -webkit-text-fill-color: transparent;
        }

        p {
          line-height: 2;
          margin-bottom: $margin-md;
          font-size: 0.9em;
          text-align: left;
          color: $light-black;
        }

        ul {
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: flex-start;
          flex-direction: column;
          padding: 0;
          margin-bottom: $margin-md;

          li {
            display: flex;
            justify-content: center;
            align-items: center;
            height: max-content;
            font-size: $font-size-sm;
            margin: 0 0 $margin-md 0;

            &>div {
              width: 2em;
              height: 2em;
              padding: 0.5em;
              align-self: flex-start;
              margin: 0.2em 0.5em 0 0;
              background-color: #e3f3e7;
              border-radius: 50%;
              display: flex;
              justify-content: center;
              align-items: center;

              img {
                width: 1.3em;
                height: 1.3em;
                margin: 0;
              }
            }

            p {
              margin: 0;
              line-height: 1.5;
              text-align: left;
              font-size: 0.9em;
            }
          }
        }

        .btns {
          width: 100%;
          display: flex;
          justify-content: flex-start;
          align-items: center;

          a {
            background-color: $light-black;
            transition: 0.5s;

            &:hover {
              opacity: 0.7;
            }
          }
        }
      }

      .graphic {
        width: 100%;
        max-width: 350px;
        height: 450px;
        position: relative;
        z-index: 2;

        &::before {
          content: "";
          left: 2em;
          top: 2em;
          width: 100%;
          height: 100%;
          position: absolute;
          background: url(/assets/dot.png) repeat;
          z-index: -1;
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }

  body.dark--mode #features {
    background-color: $dark-background-lg-one;

    span,
    p {
      color: $dark-mode-para-text !important;
    }

    .container {
      .item {
        background-color: $dark-mode-background-sm !important;

        h4 {
          color: white !important;
        }

        a {
          box-shadow: none;

          &:hover {
            background-color: $dark-button-hover-bg;
          }
        }
      }
    }
  }

  #features {
    width: 100%;
    padding: $padding-xl $padding-md;

    .heading {
      width: 100%;
      text-align: center;
      margin-bottom: $margin-md;

      span {
        color: $gray-700;
        font-size: $font-size-base;
      }

      h2 {
        font-size: $font-size-base * 2;
        text-transform: uppercase;
        margin-bottom: $margin-md;
        background: $gradient-bg-one;
        background-size: 400% 400%;
        animation: gradient 15s ease infinite;
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      p {
        color: $gray-700;
        font-size: 1em;
      }
    }

    .container {
      width: 100%;
      max-width: 55em;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
      grid-gap: 1em;
      margin: auto;
      place-items: center;

      .item {
        width: 100%;
        max-width: 350px;
        display: grid;
        grid-template-rows: 1fr 1fr;
        background-color: #f8f8f8;
        position: relative;
        border-radius: 0.5em;
        box-shadow: $box-shadow;

        .header {
          position: relative;
          height: 12em;

          img {
            border-radius: 0.5em 0.5em 0 0;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            object-fit: cover;
            position: absolute;
          }
        }

        .body {
          padding: $padding-lg $padding-md;

          h3 {
            margin-bottom: $margin-sm;
            text-transform: uppercase;
          }

          p {
            font-size: 0.9em;
            margin-bottom: $margin-md;
            line-height: 1.8;
          }
        }
      }
    }
  }

  #quote {
    width: 100%;
    padding: $padding-xl $padding-md;
    position: relative;
    background: url(/assets/tulsaMobile.webp) 50% 40% / cover;

    .blue-overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      right: 0;
      background-color: $primary;
      opacity: 0.9;
      // z-index: 1;
    }

    .container {
      max-width: 55em;
      margin: auto;
      position: relative;

      .content {
        h2 {
          margin-bottom: 1em;
          // color: #222;
          color: white;
          font-size: 2em;
        }

        margin-bottom: 2em;

        p {
          color: white;
          font-size: 0.9em;
          line-height: 1.8;
        }
      }

      .form-container {
        form {
          width: 100%;

          .form-control {
            margin-bottom: 1em;

            p {
              color: white;
              margin-bottom: 0.5em;
            }

            input {}

            input[type="text"] {
              width: 100%;
              padding: 1em;
              border-radius: 2em;
              border: 0;
              color: #222;
            }

            input[type="email"] {
              width: 100%;
              padding: 1em;
              border-radius: 2em;
              border: 0;
              color: #222;
            }

            input[type="tel"] {
              width: 100%;
              padding: 1em;
              border-radius: 2em;
              border: 0;
              color: #222;
            }

            textarea {
              resize: none;
              width: 100%;
              border-radius: 2em;
              border: 0;
              padding: 1em;
              font-family: inherit;
              color: #222;
            }
          }



          button[type="submit"] {
            background-color: white;
            border-radius: 2em;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: .9em 3.5em .9em 2em;
            transition: all 0.5s;
            cursor: pointer;
            border: 0;
            position: relative;
            color: #222;


            &>div {
              background-color: #e6f0f6;
              width: 2.5em;
              height: 2.5em;
              border-radius: 50%;
              display: flex;
              justify-content: center;
              align-items: center;
              overflow: hidden;
              transition: all 0.5s;
              position: absolute;
              right: .3em;

              img {
                width: 1.5em;
                height: 1.5em;
                transition: all 0.5s;
              }
            }

            &:hover {
              transform: translateY(-5px);
              box-shadow: $box-shadow;
              transition: all 0.5s;

              &>div {
                background-color: $primary;

                img {}
              }
            }
          }
        }
      }
    }
  }

  #portfolio {
    width: 100%;
    background-color: white;

    .container {
      width: 100%;
      max-width: 1200px;
      margin: auto;
      padding: $padding-lg 0;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .heading {
        width: 100%;
        text-align: center;
        margin-bottom: $margin-md;
        max-width: 700px;
        padding: 0 1em;

        span {
          color: #727272;
          font-size: $font-size-base;
        }

        h2 {
          font-size: 2em;
          text-transform: uppercase;
          margin-bottom: $margin-md;
          background: $gradient-bg-one;
          background-size: 400% 400%;
          animation: gradient 15s ease infinite;
          -webkit-background-clip: text;
          background-clip: text;
          -webkit-text-fill-color: transparent;
        }

        p {
          line-height: 1.8;
          font-size: 0.9em;
          color: $light-black;
        }
      }

      .portSwiper {
        width: 100%;
        height: auto;

        .swiper-wrapper {
          width: 100%;
          display: flex;
          background-color: transparent;
          padding: 1.5em 0;

          .swiper-slide {
            background-color: #f8f8f8;
            width: 90%;
            max-width: 500px;
            display: grid;
            grid-template-rows: auto 1fr;
            grid-gap: 0.5em;
            padding-bottom: 2.2em;
            border-radius: 0.5em;
            box-shadow: $box-shadow;

            .graphic {
              // width: 100%;
              height: max-content;
              display: flex;
              justify-content: center;
              align-items: center;
              padding: 1em;
              margin: auto;

              img {
                max-width: 100%;
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }

            .text {
              width: 100%;
              display: flex;
              justify-content: center;
              align-items: flex-start;
              flex-direction: column;
              padding: 0 $padding-md;

              h2 {
                margin-bottom: $margin-md;
                font-size: 1em;
              }

              h3 {
                margin-bottom: 0.5em;
              }

              p:nth-of-type(1) {
                margin-bottom: $margin-md;
                line-height: normal;
                line-height: 1.8;
              }

              h4 {
                line-height: 2;
                text-transform: uppercase;
                font-size: 0.7em;
                color: $gray-700;
                letter-spacing: 2px;
              }

              p {
                line-height: 2;
                font-size: 0.9em;
              }

              .line {
                width: 100%;
                height: 1px;
                background-color: #a4a4a4;
                margin: 0.5em 0;
              }

              .flex {
                display: flex;

                a {
                  margin: 0;
                  margin-right: 0.5em;
                  text-decoration: none;
                  color: black;
                }

                img {
                  width: 0.8em;
                  height: 0.8em;
                  margin: auto;
                }
              }
            }
          }
        }
      }

      .controller {
        height: max-content;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 0.5em;
        z-index: 2;
        margin-top: -50px;

        .swiper-prev-port {
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: white;
          cursor: pointer;
          padding: 1.5em;
          overflow: hidden;
          position: relative;
          box-shadow: $box-shadow;
          border-radius: 0;

          .left {
            width: 40px !important;
            height: 2px;
            background-color: $light-black;
            position: relative;
            z-index: 3;

            &::after {
              content: "";
              width: 15px;
              height: 2px;
              background-color: inherit;
              position: absolute;
              left: 0;
              transform-origin: 0%;
              transform: rotate(45deg);
            }

            &::before {
              content: "";
              width: 15px;
              height: 2px;
              background-color: inherit;
              position: absolute;
              left: 0;
              transform-origin: 0%;
              transform: rotate(-45deg);
            }
          }

          &::before {
            position: absolute;
            width: 100%;
            content: "";
            height: 100%;
            background-color: $light-black;
            transform: translateX(101%);
          }

          &.pressedControl {
            .left {
              transition: all 1000ms;
              background-color: white;
            }

            &::before {
              transition: all 1000ms;
              transform: translateX(0);
            }
          }
        }

        .swiper-next-port {
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: white;
          cursor: pointer;
          padding: $padding-md;
          position: relative;
          overflow: hidden;
          box-shadow: $box-shadow;
          border-radius: 0;

          .right {
            width: 40px !important;
            height: 2px;
            background-color: black;
            position: relative;

            &::after {
              content: "";
              width: 15px;
              height: 2px;
              background-color: inherit;
              position: absolute;
              right: 0;
              transform-origin: 100%;
              transform: rotate(45deg);
            }

            &::before {
              content: "";
              width: 15px;
              height: 2px;
              background-color: inherit;
              position: absolute;
              right: 0;
              transform-origin: 100%;
              transform: rotate(-45deg);
            }
          }

          &::before {
            position: absolute;
            width: 100%;
            content: "";
            height: 100%;
            background-color: black;
            transform: translateX(-101%);
          }

          &.pressedControl {
            .right {
              transition: all 1000ms;
              background-color: white;
            }

            &::before {
              transition: all 1000ms;
              transform: translateX(0);
            }
          }
        }
      }
    }
  }

  body.dark--mode #portfolio {
    background-color: $dark-background-lg-two;

    span,
    p {
      color: $dark-mode-para-text !important;
    }

    a {
      box-shadow: none;

      &:hover {
        background-color: $dark-button-hover-bg;
      }
    }

    .portSwiper {
      .swiper-wrapper {
        .swiper-slide {
          background-color: $dark-mode-background-sm;

          h3 {
            color: white;
          }
        }
      }
    }
  }

  #about {
    width: 100%;
    background-color: $light-black;

    .container {
      padding: $padding-lg;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      max-width: 55em;
      margin: auto;

      .heading {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;

        p {
          color: $text-color;
          margin-bottom: $margin-md;
          font-size: 0.9em;
        }

        strong {
          color: white;
          font-size: 2rem;
          margin-bottom: $margin-md;
          background: $gradient-bg-one;
          background-size: 400% 400%;
          animation: gradient 15s ease infinite;
          -webkit-background-clip: text;
          background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }

      .profile {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-bottom: $margin-md;

        .wrap {
          width: max-content;
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
          z-index: 1;

          &::before {
            position: absolute;
            content: "";
            width: 101%;
            height: 101%;
            z-index: -1;
            background: $gradient-bg-one;
            background-size: 400% 400%;

            animation: gradient 8s ease infinite;
            transform: rotate(-2deg);
          }

          img {
            width: 100%;
            max-width: 300px;
          }

          .social {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            position: absolute;
            width: max-content;
            left: -8%;

            a {
              padding: 0.5em;
              background-color: $primary;
              display: flex;
              justify-content: center;
              align-items: center;

              img {
                width: 1.5em;
                height: 1.5em;
              }
            }

            &:hover {
              border: 1px solid white;
            }
          }
        }
      }

      .bio {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;

        h4 {
          color: white;
          font-size: $font-size-base * 1.2;
          margin-bottom: $margin-sm;
        }

        span {
          font-size: $font-size-base * 0.8;
          color: $text-color;
          text-transform: uppercase;
          margin-bottom: $margin-md;
        }

        p {
          color: $gray-400;
          line-height: 1.7;
          font-size: $font-size-base * 0.9;
          max-width: 550px;
        }
      }
    }
  }

  body.dark--mode #packages {
    background-color: $dark-background-lg-one;

    span,
    p {
      color: $dark-mode-para-text !important;
    }

    .container {
      .packages-grid {
        .p-item {
          background-color: $dark-mode-background-sm;

          a {
            box-shadow: none;

            &:hover {
              background-color: $dark-button-hover-bg;
            }
          }
        }
      }

      a {
        box-shadow: none;
        background-color: $primary;
        color: white;

        &:hover {
          background-color: $dark-button-hover-bg;
        }
      }
    }
  }

  #packages {
    width: 100vw;

    .container {
      padding: $padding-lg 0;
      width: 100%;
      max-width: 55em;
      margin: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .heading {
        width: 100%;
        text-align: center;
        margin-bottom: $margin-lg;
        padding: 0 $padding-md;
        max-width: 700px;

        span {
          color: $gray-700;
          font-size: $font-size-base;
        }

        h2 {
          margin-bottom: $margin-md;
          text-transform: uppercase;
          font-size: $font-size-base * 2;
          background: $gradient-bg-one;
          background-size: 400% 400%;
          animation: gradient 15s ease infinite;
          -webkit-background-clip: text;
          background-clip: text;
          -webkit-text-fill-color: transparent;
        }

        p {
          color: $light-black;
          line-height: 1.5;
          font-size: 0.9em;
        }
      }

      .packages-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-gap: 1em;
        width: 100%;

        .p-item {
          width: 85%;
          max-width: 450px;
          text-align: center;
          display: flex;
          justify-self: center;
          align-items: center;
          flex-direction: column;
          background-color: $prime-gray;
          border-radius: 0.5em;
          box-shadow: $box-shadow;

          .card-heading {
            background-color: $light-black;
            width: 100%;
            padding: 1em;
            color: white;
            border-radius: 0.5em 0.5em 0 0;
          }

          .pricing {
            // margin-bottom: $margin-md;
            display: flex;
            justify-self: center;
            align-items: center;
            flex-direction: column;
            padding: 0.6em;
            width: 100%;

            & :nth-child(1) {
              margin-bottom: $margin-md;
            }

            & :nth-child(2) {
              // margin-bottom: $margin-md;
            }

            span {
              display: none;
            }
          }

          .pricing-1 {
            & :nth-child(2) {
              position: relative;
              font-size: $font-size-lg * 2;

              &::before {
                content: "$";
                position: absolute;
                left: -0.8em;
                top: 0;
                font-size: 0.4em;
              }

              &::after {
                content: "/MO";
                position: absolute;
                bottom: 0.3em;
                font-size: 0.4em;
              }
            }
          }

          .pricing-2 {
            & :nth-child(2) {
              position: relative;
              font-size: $font-size-lg * 2;

              &::before {
                content: "$";
                position: absolute;
                left: -0.8em;
                top: 0;
                font-size: 0.4em;
              }

              &::after {
                content: "/MO";
                position: absolute;
                bottom: 0.3em;
                font-size: 0.4em;
              }
            }
          }

          .pricing-3 {
            & :nth-child(2) {
              position: relative;
              font-size: $font-size-lg * 2;

              &::before {
                content: "$";
                position: absolute;
                left: -0.8em;
                top: 0;
                font-size: 0.4em;
              }

              &::after {
                content: "/??";
                position: absolute;
                bottom: 0.3em;
                font-size: 0.4em;
              }
            }
          }

          .items {
            width: max-content;
            list-style: none;
            padding: 0.5em;

            .item {
              display: flex;
              justify-content: flex-start;
              align-items: center;
              width: 100%;
              // font-size: $font-size-base;
              margin-bottom: 1em;

              img {
                margin: 0;
                justify-self: center;
                align-self: end;
                width: 0.5em;
                margin-right: $margin-sm;
              }

              &>div {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
              }

              &>div:nth-child(1) {
                background-color: #e3f3e7;
                border-radius: 50%;
                margin: 0;
                justify-self: center;
                align-self: end;
                width: 1.7em;
                height: 1.7em;
                margin-right: $margin-sm;
                display: flex;
                justify-content: center;
                align-items: center;

                img {
                  width: 1.3em;
                  height: 1.3em;
                  margin: 0;
                  align-self: unset;
                }
              }

              p {
                font-size: 0.9em;
              }
            }
          }

          a {
            position: relative;
            overflow: hidden;
            // border: 2px solid black;
            // background-color: transparent;
            background-color: $light-black;
            border-radius: 2em;
            transition: all 0.5s ease-in-out;
            // width: 80%;
            margin-bottom: $margin-md;
            color: white;

            &:hover {
              opacity: 0.7;
            }

            &:hover,
            &:active {
              transform: translateY(-5px);
              box-shadow: $box-shadow;
              transition: all 0.5s;
            }
          }
        }

        .p-item-1 {
          .card-heading {
            position: relative;

            &::before {
              content: "";
              display: block;
              width: 2.5em;
              height: 2.5em;
              position: absolute;
              top: 0;
              right: 1em;
              background: url(/assets/bookmark.svg) center / cover;
            }
          }
        }

        .p-item-3 {
          .card-heading {
            position: relative;

            &::before {
              content: "Coming Soon!";
              width: max-content;
              border-radius: 2em;
              padding: .2em 1.5em;
              display: flex;
              justify-content: center;
              align-items: center;
              background-color: $red;
              color: white;
              top: 0;
              right: 0;
              position: absolute;
              transform: rotate(5deg);
            }
          }
        }
      }
    }
  }
}

@media (min-width: 540px) {
  #landing {
    .container {
      .content {
        margin-top: 6em;
        height: 100%;
        width: 100%;
        align-items: flex-start;

        // justify-content: flex-start;
        // text-align: center;
        h1 {
          font-size: 2em;
        }

        p {
          max-width: 80%;
        }

        .ctas {
          flex-direction: row;
          align-items: flex-start;
          justify-content: flex-start;

          a {
            padding: 0.8em 2em;
            max-width: 255px;
          }

          a:nth-child(1) {
            margin-right: 1em;
          }
        }
      }

      .graphic {
        img {
          max-width: 275px;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  #landing {
    background: url(/assets/tulsastock1.webp) center / cover;

    .container {
      .content {
        height: 100%;
      }
    }
  }

  #intro {
    .container {
      .heading {
        span {}

        h2 {}

        p {}
      }

      .service-items {
        grid-gap: 2em;

        .service-item {
          img {}

          h4 {}

          p {}

          a {}
        }
      }
    }
  }

  #info {
    width: 100%;

    .container {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: row;
      padding: $padding-xl $padding-md;
      width: 100%;
      height: max-content;
      margin: auto;

      .line {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100%;
        margin-bottom: unset;

        span {
          margin-bottom: $margin-sm;
          text-align: center;
        }

        &>div {
          width: 1px;
          height: 550px;
          background-color: $gray-400;
        }
      }

      .main-content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: left;
        width: 100%;
        height: 100%;
        margin: 0 $margin-md;

        h2 {
          text-transform: uppercase;
          margin-bottom: $margin-md;
        }

        p {
          line-height: 2;
          margin-bottom: $margin-md;
        }

        ul {
          width: 100%;
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-template-rows: 1fr 1fr;
          grid-gap: 0.5em;
          padding: 0 $padding-sm;
          margin-bottom: $margin-md;

          li {
            display: flex;
            justify-content: flex-start;
            align-items: center;

            p {
              margin: 0;
              color: #000;
              line-height: 1.5;
              text-align: left;
            }
          }
        }

        .btns {
          width: 100%;
          display: flex;
          justify-content: flex-start;
          align-items: center;
        }
      }

      .graphic {
        width: 300px;

        img {
          max-width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }

  #portfolio {
    .container {
      width: 100%;
      max-width: 1200px;
      margin: auto;
      padding: $padding-lg $padding-md;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .heading {
        width: 100%;
        text-align: center;
        margin-bottom: $margin-md;

        span {}

        h2 {
          font-size: $font-size-base * 2;
          text-transform: uppercase;
          margin-bottom: $margin-md;
        }

        p {
          line-height: 1.5;
        }
      }

      .portSwiper {
        width: 100%;
        height: auto;

        .swiper-wrapper {
          width: 100%;
          display: flex;

          .swiper-slide {
            width: 100%;
            max-width: unset;
            display: grid;
            grid-gap: 1em;
            grid-template-rows: auto 1fr;
            padding-bottom: $padding-lg;
            padding-top: $padding-lg;

            .graphic {
              display: flex;
              justify-content: center;
              align-items: center;

              img {}
            }

            .text {
              width: 100%;
              display: flex;
              justify-content: center;
              align-items: flex-start;
              flex-direction: column;
              padding: $padding-md;

              h3 {
                font-size: $font-size-base * 1.3;
                text-transform: uppercase;
              }

              p {}

              a {
                margin: 0;
              }
            }
          }
        }
      }
    }
  }

  #quote {
    background: url(/assets/tulsa.jpg) 50% 40% / cover;
  }

  #packages {
    .container {
      padding: $padding-lg $padding-md;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .heading {
        width: 100%;
        text-align: center;
        margin-bottom: $margin-lg;

        span {}

        h2 {
          margin-bottom: $margin-md;
          text-transform: uppercase;
          font-size: $font-size-base * 2;
        }
      }

      .packages-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(375px, 1fr));
        grid-gap: 1em;

        .p-item {
          text-align: center;
          display: flex;
          justify-self: center;
          align-items: center;
          flex-direction: column;
          width: 100%;

          .card-heading {
            width: 100%;
            padding: 1em;
            color: white;
          }

          .pricing {
            margin-bottom: $margin-md;
            display: flex;
            justify-self: center;
            align-items: center;
            flex-direction: column;
            padding: 0.6em;
            width: 100%;

            & :nth-child(1) {
              margin-bottom: $margin-md;
            }

            & :nth-child(2) {
              // margin-bottom: $margin-md;
            }
          }

          //         // .pricing-1 {
          //         //   & :nth-child(2) {
          //         //     position: relative;
          //         //     font-size: $font-size-lg * 2;

          //         //     &::before {
          //         //       content: "$";
          //         //       position: absolute;
          //         //       left: -0.5em;
          //         //       top: 0;
          //         //       font-size: $font-size-sm;
          //         //     }

          //         //     &::after {
          //         //       content: "/MO";
          //         //       position: absolute;
          //         //       bottom: 0.3em;
          //         //       font-size: $font-size-sm;
          //         //     }
          //         //   }
          //         // }

          //         // .pricing-2 {
          //         //   & :nth-child(2) {
          //         //     position: relative;
          //         //     font-size: $font-size-lg * 2;

          //         //     &::before {
          //         //       content: "$";
          //         //       position: absolute;
          //         //       left: -0.5em;
          //         //       top: 0;
          //         //       font-size: $font-size-sm;
          //         //     }

          //         //     &::after {
          //         //       content: "/once";
          //         //       position: absolute;
          //         //       bottom: 0.3em;
          //         //       font-size: $font-size-sm;
          //         //     }
          //         //   }
          //         // }

          //         // .pricing-3 {
          //         //   & :nth-child(2) {
          //         //     position: relative;
          //         //     font-size: $font-size-lg * 2;

          //         //     &::before {
          //         //       content: "$";
          //         //       position: absolute;
          //         //       left: -0.5em;
          //         //       top: 0;
          //         //       font-size: $font-size-sm;
          //         //     }

          //         //     &::after {
          //         //       content: "/??";
          //         //       position: absolute;
          //         //       bottom: 0.3em;
          //         //       font-size: $font-size-sm;
          //         //     }
          //         //   }
          //         // }

          .items {
            width: max-content;
            list-style: none;
            padding: 1em;

            .item {
              display: flex;
              justify-content: flex-start;
              align-items: center;
              width: 100%;
              font-size: $font-size-sm;

              img {
                margin: 0;
                justify-self: center;
                align-self: end;
                width: 1em;
                margin-right: 0.2em;
              }

              &>div {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: 900px) {
  #landing {
    height: 35em;

    .container {
      width: 100vw;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;

      .content {
        padding-right: 0;
        margin: unset;

        // text-align: center;
        h1 {
          font-size: 1.5em;
        }

        p {
          max-width: unset;
        }

        .ctas {
          a {
            white-space: nowrap;

            &:hover,
            &:active {}
          }

          a:nth-child(1) {}

          a:nth-child(2) {}
        }
      }

      .graphic {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        height: 100%;

        img {
          width: 100%;
          height: auto;
        }
      }
    }
  }
}

@media (min-width: 1024px) {
  #landing {
    width: 100%;
    height: 35em;

    .container {
      width: 100vw;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;

      .content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: white;
        padding: 0 1em;
        width: 100%;
        padding-right: 0;

        // text-align: center;
        h1 {
          margin-bottom: 0.5em;
          font-size: 2em;
        }

        p {
          margin-bottom: 1em;
          font-size: 0.9em;
        }

        .ctas {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          flex-direction: row;
          width: 100%;

          a {
            width: max-content;
            text-decoration: none;
            cursor: pointer;
            border-radius: 2em;
            background-color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0.8em 2em;
            margin-bottom: 0;
            color: black;
            transition: all 0.5s;

            &:hover,
            &:active {
              transform: translateY(-5px);
              box-shadow: $box-shadow;
            }
          }

          a:nth-child(1) {
            margin-right: 1em;
          }

          a:nth-child(2) {
            background-color: #222;
            color: white;
          }
        }
      }

      .graphic {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        position: relative;

        img {
          max-width: unset;
          width: 16em;
        }
      }
    }
  }

  #intro {
    .container {
      .heading {
        margin-bottom: $margin-xl;

        span {}

        h2 {}

        p {}
      }

      .service-items {
        grid-gap: 1em;

        .service-item {
          transition: all 0.5s;
          max-width: 17em;

          img {}

          h3 {}

          p {}

          a {}

          &:hover {
            transform: translateY(-15px);
            transition: all 0.5s;
          }
        }

        .service-item:nth-child(2) {
          transform: translateY(-15px);

          &:hover {
            transform: translateY(-15px);
          }
        }
      }
    }
  }

  #info {
    width: 100%;

    .container {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: row;
      padding: $padding-xl $padding-md;
      width: 100%;
      height: max-content;
      margin: auto;

      .line {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100%;
        margin-bottom: unset;

        span {
          margin-bottom: $margin-sm;
          text-align: center;
        }

        &>div {
          width: 1px;
          height: 550px;
          background-color: $gray-400;
        }
      }

      .main-content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: left;
        width: 100%;
        // height: 100%;
        margin: 0 $margin-md;

        h2 {
          text-transform: uppercase;
          margin-bottom: $margin-md;
        }

        p {
          line-height: 2;
          margin-bottom: $margin-md;
        }

        ul {
          width: 100%;
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-template-rows: 1fr 1fr;
          grid-gap: 0.5em;
          padding: 0 $padding-sm;
          margin-bottom: $margin-md;

          li {
            display: flex;
            justify-content: flex-start;
            align-items: center;

            p {
              margin: 0;
              color: #000;
              line-height: 1.5;
              text-align: left;
            }
          }
        }

        .btns {
          width: 100%;
          display: flex;
          justify-content: flex-start;
          align-items: center;

          a {

            &:hover,
            &:active {
              transform: translateY(-5px);
              box-shadow: $box-shadow;
            }
          }
        }
      }

      .graphic {
        width: 100%;
        max-width: 300px;

        img {
          max-width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }

  #features {
    .heading {
      margin-bottom: $margin-xl;

      span {}

      h2 {}

      p {}
    }

    .container {
      .item {
        transition: all 0.5s;
        max-width: 17em;

        .header {
          img {}
        }

        .body {
          h3 {}

          p {}
        }

        &:hover {
          transform: translateY(-15px);
        }
      }

      .item:nth-child(2) {
        transform: translateY(-15px);
      }
    }
  }

  #quote {
    width: 100%;
    // background-color: #e6f0f6;
    // background-color: $primary;
    padding: $padding-xl $padding-md;

    .container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 2em;

      .content {
        h2 {
          // color: white;
        }
      }

      .form-container {
        form {
          .form-control {
            p {}

            input[type="text"] {}

            input[type="email"] {}

            input[type="number"] {}

            textarea {}
          }

          .submit {
            button[type="submit"] {}

            &>div {
              img {}
            }
          }
        }

        .flex {
          display: grid;
          grid-template-columns: 1fr 1fr;
          gap: 1em;
          width: 100%;

          input {
            width: 100%;
          }
        }
      }
    }
  }

  #portfolio {
    .container {
      width: 100%;
      max-width: 55em;
      margin: auto;
      padding: $padding-lg $padding-md;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .heading {
        text-align: center;
        margin-bottom: $margin-md;

        span {}

        h2 {
          font-size: $font-size-base * 2;
          text-transform: uppercase;
          margin-bottom: $margin-md;
        }

        p {
          line-height: 1.5;
        }
      }

      .portSwiper {
        width: 100%;
        height: auto;

        .swiper-wrapper {
          width: 100%;
          display: flex;

          .swiper-slide {
            width: 100%;
            max-width: unset;
            display: grid;
            grid-gap: 0em;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr;
            padding-bottom: $padding-lg;
            padding-top: $padding-md;

            .graphic {
              // width: 100%;
              // height: 100%;
              display: flex;
              justify-content: center;
              align-items: center;
              padding: $padding-md;

              img {}
            }

            .text {
              width: 100%;
              display: flex;
              justify-content: flex-start;
              align-items: flex-start;
              flex-direction: column;
              padding: $padding-md;

              h3 {
                font-size: $font-size-base * 1.3;
                text-transform: uppercase;
              }

              p {}

              a {
                margin: 0;
              }
            }
          }
        }
      }
    }
  }

  #about {
    .container {
      padding: $padding-xl $padding-sm;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 1em;
      margin: auto;

      .heading {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        text-align: left;
        width: 100%;

        p {
          color: $text-color;
          margin-bottom: $margin-md;
        }

        strong {
          color: white;
          font-size: $font-size-base * 2;
          margin-bottom: $margin-md;
        }
      }

      .profile {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-bottom: $margin-md;

        .wrap {
          width: max-content;
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;

          img {
            width: 100%;
            max-width: 14em;
          }

          .social {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            position: absolute;
            width: max-content;
            left: -8%;

            a {
              padding: 0.5em;
              display: flex;
              justify-content: center;
              align-items: center;

              img {
                width: 1.5em;
              }
            }
          }
        }
      }

      .bio {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        text-align: left;

        h4 {
          color: white;
          font-size: 1.5em;
          margin-bottom: $margin-sm;
        }

        span {
          font-size: 1em;
          color: $text-color;
          text-transform: uppercase;
          margin-bottom: $margin-md;
        }

        p {
          color: $gray-400;
          line-height: 1.5;
          max-width: unset;
        }
      }
    }
  }

  #packages {
    .container {
      padding: $padding-lg $padding-md;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .heading {
        width: 100%;
        text-align: center;
        margin-bottom: $margin-lg;

        span {}

        h2 {
          margin-bottom: $margin-md;
          text-transform: uppercase;
          font-size: $font-size-base * 2;
        }
      }

      .packages-grid {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        width: 100%;

        .p-item {
          text-align: center;
          display: flex;
          justify-self: center;
          align-items: center;
          flex-direction: column;
          width: 100%;

          .card-heading {
            width: 100%;
            padding: 1em;
            color: white;
          }

          .pricing {
            margin-bottom: 0;
            display: flex;
            justify-self: center;
            align-items: center;
            flex-direction: column;
            padding: 0.6em;
            width: 100%;
            padding-bottom: 0.5em !important;

            & :nth-child(1) {
              margin-bottom: $margin-md;
            }

            & :nth-child(2) {
              // margin-bottom: $margin-md;
            }
          }

          // .pricing-1 {
          //   & :nth-child(2) {
          //     position: relative;
          //     font-size: $font-size-lg * 2;

          //     &::before {
          //       content: "$";
          //       position: absolute;
          //       left: -0.5em;
          //       top: 0;
          //       font-size: $font-size-sm;
          //     }

          //     &::after {
          //       content: "/MO";
          //       position: absolute;
          //       bottom: 0.3em;
          //       font-size: $font-size-sm;
          //     }
          //   }
          // }

          // .pricing-2 {
          //   & :nth-child(2) {
          //     position: relative;
          //     font-size: $font-size-lg * 2;

          //     &::before {
          //       content: "$";
          //       position: absolute;
          //       left: -0.5em;
          //       top: 0;
          //       font-size: $font-size-sm;
          //     }

          //     &::after {
          //       content: "/once";
          //       position: absolute;
          //       bottom: 0.3em;
          //       font-size: $font-size-sm;
          //     }
          //   }
          // }

          // .pricing-3 {
          //   & :nth-child(2) {
          //     position: relative;
          //     font-size: $font-size-lg * 2;

          //     &::before {
          //       content: "$";
          //       position: absolute;
          //       left: -0.5em;
          //       top: 0;
          //       font-size: $font-size-sm;
          //     }

          //     &::after {
          //       content: "/??";
          //       position: absolute;
          //       bottom: 0.3em;
          //       font-size: $font-size-sm;
          //     }
          //   }
          // }

          .items {
            width: max-content;
            list-style: none;
            padding: 0.5em;

            .item {
              display: flex;
              justify-content: flex-start;
              align-items: center;
              width: 100%;

              img {
                margin: 0;
                justify-self: center;
                align-self: end;
                width: 1em;
                margin-right: 0.2em;
              }

              &>div {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
              }
            }
          }
        }

        .p-item-1 {
          order: 2;
        }

        .p-item-2 {
          order: 1;
        }

        .p-item-3 {
          order: 3;
        }
      }
    }
  }
}

@media (min-width: 1200px) {

  #landing {
    background-attachment: fixed;
  }

  #info {
    width: 100%;

    .container {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: row;
      padding: $padding-xl $padding-md;
      width: 100%;
      height: max-content;
      margin: auto;

      .line {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100%;
        margin-bottom: unset;

        span {
          margin-bottom: $margin-sm;
          text-align: center;
        }

        &>div {
          width: 1px;
          height: 550px;
          background-color: $gray-400;
        }
      }

      .main-content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: left;
        width: 100%;
        height: 100%;
        margin: 0 $margin-md;

        h2 {
          text-transform: uppercase;
          margin-bottom: $margin-md;
        }

        p {
          line-height: 2;
          margin-bottom: $margin-md;
        }

        ul {
          width: 100%;
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-template-rows: 1fr 1fr;
          grid-gap: 0.5em;
          padding: 0 $padding-sm;
          margin-bottom: $margin-md;

          li {
            display: flex;
            justify-content: flex-start;
            align-items: center;

            p {
              margin: 0;
              color: #000;
              line-height: 1.5;
              text-align: left;
            }
          }
        }

        .btns {
          width: 100%;
          display: flex;
          justify-content: flex-start;
          align-items: center;
        }
      }

      .graphic {
        width: 100%;
        max-width: 14em;
        height: 100%;
        position: relative;

        img {
          max-width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }

  #quote {
    width: 100%;
    background-attachment: fixed;
  }
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@media (min-width: 1500px) {
  #intro {
    .container {
      max-width: 66em;
    }
  }
}

@media (min-width: 2000px) {
  body {
    font-size: 1vw;
  }
}

// input accesibilit
.sr-only {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}